@media screen and   (max-width:2560px){
  .heroSection-1{
            /* border:  1px solid rgb(133, 205, 123) ;   */
            
  }
  .heroSubSection-1{
    position: relative;
    z-index: -1;
       /* width: 60%; */
       /* border: 1px solid blue; */
 }
  @media (prefers-reduced-motion: no-preference) {
   
    .main-herosection-image ,.hero_image-desktop-animation{
      animation: rotate infinite 20s linear;
    }  

   
  }

    


            @keyframes rotate {
              from { transform: rotate(0deg);}
              
              to{
                transform: rotate(360deg);
              }
              
            }


            @media (prefers-reduced-motion: no-preference) {
              .main-heading ,.heroSection-1-main_span_heading {
                animation: fadeEntrace 2s forwards;
                transform: translateY(20px);
                opacity: 0;
              }
              
              .heroSection-1-subheading_2_desktop, .heroSection-1-subheading_2 ,.main-heading-button  {
                animation: fadeEntrace 4s forwards;
                transform: translateY(20px);
                opacity: 0;
              }
            }
 

  @keyframes fadeEntrace {
      to {
        opacity: 1;
        transform: translateX(0);
      }
  }
 

  .leftimage-1{
    animation: myanimation 2s  ;
  }
  
  @keyframes myanimation {
     from{
        left:-350px;
        top:150px;
     }
     to{
      left:-300px;
      top:150px;
       
     }
  }

  
  .heroSection-1{
    width: 1080px;
    height: 600px;
  }
  .hero_image-mobile{
    display: none;
  }
 
  .heroSection-1-main_heading , .heroSection-1-main_span_heading ,.hero_image-mobile ,.heroSection-1-subheading_2 {
    /* border: 1px solid red; */
    display: none;
  }
  /* .heroSection-1-main_heading{
      display: none;
  } */
  .section-2-mobile{
      display: none;
  }
  .main-heading-mobile-res{
      display: none;
  }
  .main-heading-mobile-res{
      display: none;
  }
  .my-class-caraousal-mobile-view{
    display: none;
 }

}



@media screen and   (max-width:1440px){
    .heroSection-1{
              /* border:  1px solid rgb(133, 205, 123) ;   */
    }
    .heroSubSection-1{
      position: relative;
      z-index: -1;
         /* width: 60%; */
         /* border: 1px solid blue; */
   }
    .heroSection-1{
      width: 1080px;
      height: 600px;
    }
    .hero_image-mobile{
      display: none;
    }
   
    .heroSection-1-main_heading , .heroSection-1-main_span_heading ,.hero_image-mobile ,.heroSection-1-subheading_2 {
      /* border: 1px solid red; */
      display: none;
    }
    /* .heroSection-1-main_heading{
        display: none;
    } */
    .section-2-mobile{
        display: none;
    }
    .main-heading-mobile-res{
        display: none;
    }
    .main-heading-mobile-res{
        display: none;
    }
    .my-class-caraousal-mobile-view{
      display: none;
   }
 
}


@media screen and   (max-width:1024px){
  .heroSection-1{
    width: 800px;
    height: 600px;
  }
  .heroSection-1-main_heading , .heroSection-1-main_span_heading ,.hero_image-mobile ,.heroSection-1-subheading_2 {
    /* border: 1px solid rgb(1, 173, 96); */
    /* display: none; */
  }
  .heroSection-1{
            /* border:  1px solid rgb(205, 123, 123) ;   */
  }
  .heroSection-1-main_heading-desktop{
    font-size: 34px;
    line-height: 50px;
 
  }

  .heroSubSection-1{
     position: relative;
     z-index: -1;
        width: 60%;
        /* border: 1px solid blue; */
  }
  .hero_image-desktop{
    /* border: 1px solid blue; */
         width: 40%;
         display: block;
  }
  .hero-section-heading-1, .hero-section-heading-2{
    font-size: 64px;
  }
  .hero_image-mobile{
    display: none;
  }

  .section-2-mobile{
      display: none;
  }
  .main-heading-mobile-res{
      display: none;
  }
  .main-heading-mobile-res{
      display: none;
  }
  .main-Section-second{
   /* border: 1px solid red; */
   width: 800px;
  }
  .section-2-desktop ,.main-section-second-image-div{
    width: 800px;
  }

  .my-slider-3rd-section-div{
    display: none;
  }
  .my-class-caraousal-mobile-view{
     /* display: none; */
     display: block;
  }

  .leftimage-1{
    position: absolute;
    z-index: -1;
     width:500px;
     left:-350px;
      top:80px; 
  }
  .leftimage-3{
  display: none;

  }
}
.section-2-desktop{
    margin-top: 50px;
}

@media screen and (max-width:768px) {
  .heroSection-1{
    width: 768px;
    height: 600px;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
  } 
  .main-Section-second{
    /* border: 1px solid red; */
    width: 768px;
   }
   .my-class-caraousal-mobile-view{
    /* display: none; */
    padding: 20px;
 }

   .section-2-desktop{
    padding: 20px;
   }
   .main-section-second-image-div{
    width: 668px;
   }
   .section-2-desktop {
    width: 768px;
    /* border: 1px solid burlywood; */
  }

.heroSection-1-main_heading{
  display: none;
}
.main-heading-mobile-res{
    display: none;
}
.hero_image-mobile{
  display: none;
}

.section-2-mobile{
  display: none;
}
.leftimage-1{
 display: none;
}
}

/* Responsive */
@media screen and (max-width: 480px) {
  /* .heroSection-1-main_heading ,.heroSection-1-main_span_heading ,.hero_image-mobile ,.heroSection-1-subheading_2{
         display: block;
  } */
  .my-search{
    width: 100%;
  }
    .main-Section-second{
        width: 390px;
        /* margin-top:200px ; */
    }
    ::placeholder{
      font-size: 18px;
      font-weight: 400;
      /* padding: 1px; */
      /* align-items: center; */
      /* justify-content: center; */
      /* margin: auto; */
      text-align: left;
    
    }
    .heroSection-1{
        height: 510px;
          width: 390px;
          /* border:  1px solid rgb(0, 51, 255) ; */
          margin: auto;
        
    }

    .main-heading-button{
      /* border: 1px solid red; */
        margin:20px auto;
    
    }
    .heroSubSection-1{
        /* border: 1px solid  rgba(0, 255, 123, 0.182); */
        width: 390px;
        height: 480px;
        /* border:  1px solid blue; */
        background-color: rgba(135, 237, 73, 0.05);
        border-radius: 30px;
        text-align: center;
        margin-top: 0px;
       
    }
    .heroSection-1-main_heading{
      display: block;
      /* border: 1px solid teal; */
      /* padding-top: 20px; */
        margin-top: 10px;
         font-size: 18px;
         font-weight:700;
         line-height: 33px;
    }
    .heroSection-1-main_span_heading{
      display:inline ;
        font-size: 40px;
    }
    .heroSection-1-main_heading-desktop{
                  display:none;
    }
    .hero_image-desktop{
        display: none;
    }
    .heroSection-1-subheading_2_desktop{
        display: none;
    }
    .heroSection-1-subheading_2{
        /* border: 1px solid red; */
          display: inline-block;
            font-size: 14px;  
            width: 370px;  
            margin-top: 20px;    
    }
    .hero-image-mobile-main-image{
        /* display: block; */
         width: 100%;
         margin-left: 0px;
         margin-top: 0;
    }
    .hero_image-mobile{
      display: block;
         width: 181px;
         height: 183px;
    
         margin: auto;
         margin-top: 30px;
         margin-bottom: 20px;
    }
    .leftimage-1  ,.rightimage-1{
        display: none;
    }
    .leftimage-2 ,.leftimage-3{
       display: none;
    }

    .rightimage-2{
      display: none;
    }
 

   /* src/CircularImageLayout.css */
   .section-2-desktop{
    display: none;
    /* width:390px ; */}

.section-2-mobile{
   display: block;
    margin: 50px 0px;
    width:390px ;
    height: 550px;
    /* border: 1spx solid rgb(0, 0, 0); */

}
  .heading-main-section-2-mobile{
     font-size: 32px;
     font-weight: 400;       
  }
  .sub-heading-section-2-mobile{
    font-size: 14px;
  }
.circle-container {
    position: relative;
    width: 350px;
    height: 334px;
  
    margin: 50px auto;
  }
  
  .circle-item {
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
  
  .circle-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .item1 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .item2 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  
  .item3 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .item4 {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  
  .item5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
      /* .item-1 {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .item-2 {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
      }
      
      .item-3 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .item-4 {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
      }
      
      .item-5 {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      } */
  .quote{
    font-size: 15px;
  }

  .quoteSpan{
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  /* .heroSection-1-main_heading ,.heroSection-1-main_span_heading ,.hero_image-mobile ,.heroSection-1-subheading_2{
         display: block;
  } */
  /* .my-search{
    width: auto;
  } */
    .main-Section-second{
        width: 100%;
        /* margin-top:200px ; */
    }
    ::placeholder{
      font-size: 18px;
      font-weight: 400;
      /* padding: 1px; */
      /* align-items: center; */
      /* justify-content: center; */
      /* margin: auto; */
      text-align: left;
    
    }
    .heroSection-1{
        height: 510px;
          width: 100%;
          padding: 20px 0px;
          border:  1px solid rgb(0, 51, 255) ;
          margin: auto;
          position: relative;
          z-index: -1;
        
    }
    .main-Section-second{
      margin-top: 100px;
    } 
    .main-heading-button{
      /* border: 1px solid red; */
        margin:20px auto;
    
    }
    .heroSubSection-1{
        border: 1px solid  rgba(0, 255, 123, 0.182);
        width: 320px;
        height: 540px;
        /* border:  1px solid blue; */
        background-color: rgba(135, 237, 73, 0.05);
        border-radius: 30px;
        text-align: center;
        margin-top: 0px;
       
    }
    .heroSection-1-main_heading{
      display: block;
      /* border: 1px solid teal; */
      /* padding-top: 20px; */
        margin-top: 10px;
         font-size: 18px;
         font-weight:700;
         line-height: 33px;
    }
    .heroSection-1-main_span_heading{
      display:inline ;
        font-size: 40px;
    }
    .heroSection-1-main_heading-desktop{
                  display:none;
    }
    .hero_image-desktop{
        display: none;
    }
    .heroSection-1-subheading_2_desktop{
        display: none;
    }
    .heroSection-1-subheading_2{
        /* border: 1px solid red; */
          display: inline-block;
            font-size: 14px;  
            width: 320px;  
            margin-top: 20px;    
    }
    .hero-image-mobile-main-image{
        /* display: block; */
         width: 100%;
         margin-left: 0px;
         margin-top: 0;
    }
    .hero_image-mobile{
      display: block;
         width: 181px;
         height: 183px;
        margin: auto;
         margin-top: 30px;
         margin-bottom: 20px;
    }
    .leftimage-1  ,.rightimage-1{
        display: none;
    }
    .leftimage-2 ,.leftimage-3{
       display: none;
    }

    .rightimage-2{
      display: none;
    }
 

   /* src/CircularImageLayout.css */
   .section-2-desktop{
    display: none;
    /* width:390px ; */}

.section-2-mobile{
   display: block;
    margin: 50px 0px;
    width:320px ;
    height: 550px;
    /* border: 1spx solid rgb(0, 0, 0); */

}
  .heading-main-section-2-mobile{
     font-size: 32px;
     font-weight: 400;       
  }
  .sub-heading-section-2-mobile{
    font-size: 14px;
  }
.circle-container {
    position: relative;
    width: 320px;
    height: 334px;
  
    margin: 50px auto;
  }
  
  .circle-item {
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
  
  .circle-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .item1 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .item2 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  
  .item3 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .item4 {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  
  .item5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
      /* .item-1 {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .item-2 {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
      }
      
      .item-3 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .item-4 {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
      }
      
      .item-5 {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      } */
  .quote{
    font-size: 15px;
  }

  .quoteSpan{
    font-size: 18px;
  }

  .myclass-search-close-button-mobile{
    position: absolute;
    right: 27px;
    top: 112px;
}

.search_icons{
     top:0px
}
}