.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) saturate(180%);
    overflow: auto;
  }

  .modal-content {
    margin:4%  auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
   a{
    color:black ;
    font-size: 16px;
    font-weight:normal;
   }
  ::placeholder{
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 600;
    /* padding: 20px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: auto; */
  
  }
     input[type="text"] {
       color:  rgb(0, 0, 0);
       font-size: 14px;
       font-weight: 700;
       padding-left: 20px;
       align-items: center;
       justify-content: center;
       margin: auto;

     }
     input[type="email"] {
      color:  rgb(0, 0, 0);
      font-size: 12px;
      font-weight: 700;
      padding-left: 30px;
      align-items: center;
      justify-content: center;
      margin: auto;

    }


     input[type="password"] {
      color:  rgb(0, 0, 0);
      font-size: 12px;
      font-weight: 700;
      padding-left: 30px;
      align-items: center;
      justify-content: center;
      margin: auto;

    }
  .cart-span{
     font-weight: 700;
     font-size: 11px;
    transform: translate(-4px, -19px);
    /* -webkit-transform:  translate(5px, -19px);
    -moz-transform:  translate(5px, -19px);
    -ms-transform:  translate(5px, -19px);
    -o-transform:  translate(5px, -19px); */
}
.cart-svg{
fill: transparent;
}

/* Responsive styles */

@media  only screen and (max-width:2560px) {

  .my-class-Navbar-div{
    width: 1080px;
  }
  
}


@media  only screen and (max-width:1440px) {

  .my-class-Navbar-div{
    width: 1080px;
  }
  
}


@media  only screen and (max-width:1024px)  {
  .my-class-Navbar-div{
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
 
  /* .my-navigation-login-singup{
    display: block;
 } */
.my-class-Navbar-div{
width: 768px;
}


 .my-class-ul-login-signup{
  display: flex;  
}
  ::placeholder {
      font-size: 12px;
  }
}

@media screen and (max-width: 680px) {
  .my-class-Navbar-div{
    width: 100%;
  }
  .modal-content{
    width: 100%;
    padding: 20px;
  }
  .my-class-Navbar-div{
    width: 640px;
    }
    
  .my-girdData-container{
    padding: 20px;
}
  .my-navbar-container{
    padding:20px ;
  }
  .my-navigation-login-singup{
    display: none;
 }
 .mobile-menu-humburger{
  display: block
}
 .my-class-ul-login-signup{
        display: flex;  
 }
 .search_input ,.search_icons{
       display: none;
 }
 .my-class-Navbar-div{
  padding: 20px;
}

  ::placeholder {
     
      font-size: 12px;
  }
  .my-class-ul-login-signup{
    display: flex;  
  }
}

@media only screen and (max-width: 480px) {
  .my-class-Navbar-div{
    width: 100%;
  }
  
  .modal{
    padding: 30px;
  }
  .modal-content{
    width: 100%;
    padding: 20px;
  }
  .my-girdData-container{
    padding: 20px;
}
.my-class-Navbar-div{
        padding: 20px;
}
  .my-girdData-container{
       padding: 20px;
  }
  .my-navbar-container{
    padding:20px ;
  }
  .my-navigation-login-singup{
    display: block;
 } 
 .my-class-ul-login-signup{
  display: flex;  
}
 .my-navigation-login-singup {
  display: none;
}
.mobile-menu-humburger{
  display: block
}
.search_input{
  display: none;
}
  ::placeholder {
     
      font-size: 10px;
  }
}

@media screen   and (max-width: 360px) {

  .myclass-search-close-button{
       display: none;
  }

  .my-class-Navbar-div{
    width: 100%;
  }
  
.modal{
  padding: 30px;
}
  .modal-content{
    width: 100%;
    padding: 20px;
  }
  .my-class-Navbar-div{
    padding: 20px;
}
  .my-girdData-container{
    padding: 20px;
}
  .my-navbar-container{
    padding:20px ;
  }
  .search_input{
    display: none;
  }
  .my-navigation-login-singup{
      display: none;
   }
   .my-class-ul-login-signup{
    display: flex;  
  }
}