@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* padding: 0; */
  font-family: "Raleway" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero-section-heading-1{
  
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    color: #ED4949;
  
}
.quote{
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #6B2626;
  text-transform: uppercase;
}
.quoteSpan{
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: #266B46
}
.main-heading{
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
}
.hero-section-heading-2{
  
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 98px;
  color: #F2C14E;
}
.subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.FooterName{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgba(237, 73, 73, 0.6)
}
/* src/index.css */
@font-face {
  font-family: 'Raleway';
  src: url('./Assets/Raleway/Raleway-VariableFont_wght.ttf') ;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Raleway-Bold';
  src: url('./assets/fonts/MyCustomFont-Bold.woff2') format('woff2'),
       url('./assets/fonts/MyCustomFont-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} */




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',DM Serif Display
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}